.brand p {
    line-height: 1.2;
    color: #0b96e7;     /* #fdb700 */
}

.links {
    text-decoration: none;
    color: black;
    padding:  0.5rem;
    font-weight: 600;
    font-size: large;
}

.active {
    color: #fdb700;
    /* border: 2px solid #0b96e7; */
    border-radius: 8px;
}

.links:hover {
    color: black;
}