@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;900&display=swap');

.img-gradient:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgba(21, 21, 21, 0.7) 0%, rgba(21, 21, 21, 0.3) 100%);
}

.caption-container {
    position: absolute;
    top: 25%;
    font-family: 'Mulish', sans-serif;
}
.caption-container h2 {
    font-size: 3.75rem;
    font-weight: 900;
    color: #fdb700;    /* #fdb700 */
}
.caption-container p {
    font-size: 2.125rem;
    font-weight: 600;
    color: currentColor;
}