@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;900&display=swap');

/* .carousel-caption {
    background:rgba(0,0,0,0.5);
    border-radius: 8px;
  }
.carousel-caption h2 {
    color: cyan;    /* #fff5f5 
}
.carousel-caption p {
    color: #ffffff;   /* #63ff00 lawngreen 
} */

.img-gradient:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    border-radius: 8px;
    /* background: linear-gradient(to right, rgba(6, 91, 139, 0.5) 0%,rgba(233, 153, 137, 0.5) 100%); */
    background: linear-gradient(to bottom, rgba(21, 21, 21, 0.7) 0%, rgba(21, 21, 21, 0.3) 100%);
}

.caption-container {
    position: absolute;
    top: 25%;
    font-family: 'Mulish', sans-serif;
}
.caption-container h2 {
    font-size: 3.75rem;
    font-weight: 900;
    color: #fdb700;    /* #fdb700 */
}
.caption-container p {
    font-size: 2.125rem;
    font-weight: 600;
    color: currentColor;
}